<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tcshop.mapper.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.tcshop.entity.Product" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pics" property="pics" jdbcType="VARCHAR" />
    <result column="tags" property="tags" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="BIGINT" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
    <result column="freightage" property="freightage" jdbcType="BIGINT" />
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>