<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tcshop.mapper.WxMenuMapper" >
  <resultMap id="BaseResultMap" type="com.tcshop.entity.WxMenu" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="parent_id" property="parentId" jdbcType="INTEGER" />
    <id column="shop_config_id" property="shopConfigId" jdbcType="INTEGER" />
    <id column="media_id" property="mediaId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="act_type" property="actType" jdbcType="CHAR" />
    <result column="link_url" property="linkUrl" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>