<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tcshop.mapper.WxReplayMapper" >
  <resultMap id="BaseResultMap" type="com.tcshop.entity.WxReplay" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="shop_config_id" property="shopConfigId" jdbcType="INTEGER" />
    <id column="media_id" property="mediaId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="event" property="event" jdbcType="CHAR" />
    <result column="keywords" property="keywords" jdbcType="VARCHAR" />
    <result column="re_type" property="reType" jdbcType="CHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>